body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas: 
        "n n n n n"
        ". h h h ."
        ". . l l l";
    background: url("bg.svg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.topnav {
    grid-area: n;
    align-content: end;
    text-align: right;
  }
  
  .topnav a {
    color: #4c4747;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #3D3E47;
    color: white;
  }

.herobox {
    grid-area: h;
    box-sizing: border-box;
    width: 1158px;
    height: 507px;
    background: linear-gradient(146.64deg, rgba(255, 255, 255, 0.5) -6.76%, rgba(0, 71, 255, 0.05) 102.96%);
    backdrop-filter: blur(10px);
    border-radius: 0px 200px;
    }

.hero-image {
    box-sizing: border-box;
    position: absolute;
    width: 401px;
    height: 401px;
    left: 50px;
    top: 50px;
    background: url(AxA), #0312fc;
    border: 25px solid #FFFFFF;
    border-radius: 334px;
}

#dane {
    width: 225px;
    height: 225px;
    position:absolute;
    top: 60px;
    left: 60px;
}

.intro {
    position:absolute;
    left: 550px;
    top: 150px;
    text-align: left;
}

#blueDane {
    color:#0312fc;
}

.button {
    background-color: #0312fc;
    color:#FFFFFF;
    width: 350px;
    height: 55px;
    border: none;
    border-radius: 10px;
}

.container {
    grid-area: l;
}

.box {
    position: relative;
    width: 161px;
    height: 124;
    display: inline-block;
    padding: 15px;
}

.rectangle {
    background: #45bee8;
    width: 161px;
    height: 91px;
    border-radius: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    position: relative;
}

.circle {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 75px;
    height: 75px;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    background: #3D3E47;
    text-align:center;
    z-index: 1;
}

#html {
    width: 50px;
    height: 50px;
    padding-top: 20%;
}

#css {
    width: 50px;
    height: 50px;
    padding-top: 20%;
}

#js {
    width: 50px;
    height: 50px;
    padding-top: 20%;
}

#react {
    width: 50px;
    height: 50px;
    padding-top: 15%;
}

.language {
    position: absolute;
    top: 55px;
    color: #FFFFFF;
}

#one {
    left: 62px;
}

#two {
    left: 68px;
}

#three {
    left: 47px;
}

#four {
    left: 65px;
}

.projects {
    background-image: url("Dots.svg"), url("+.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas: 
        " h h h h h "
        " . a a a . ";
    margin-top: 20px;
}

.projectsHeading {
    grid-area: h;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projectsHeading {
    display: flex;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
} 

#projectsUnderline {
    width: 19px;
    height: 19px;
    background: linear-gradient(180deg, #45BEE8 0%, #2157F2 100%);
    border-radius: 50%;
}

.pi {
    width: 300px;
    height: 200px;
    padding: 25px;
}

.container-2 {
    grid-area: a;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas: 
    "t t t t"
    "i i d d"
    "i i g l";
    justify-content: center;
    align-items: center;
}

h3 {
    grid-area: t;
    text-align: center;
    align-self: flex-end;
}

.pi {
    grid-area: i;
}

p {
    grid-area: d;
    text-align: center;
}

.github {
    grid-area: g;
    text-align: center;
}

.live {
    grid-area: l;
    text-align: center;
}